/*-----BASIC SETUP------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 90px !important;
}

.display {
  display: block;
}

.remove {
  display: none;
}

button {
  background: #ffde13;
  border: none;
  padding: 0.3em 0.7em;
  cursor: pointer;
  outline: none;
}

button:focus,
button:active {
  outline: 0 !important;
}

.selected {
  color: #fff;
  background: #c9071f;
  outline: none;
}

/*
   * Styles for the music player
   */

.seekbar {
  background: grey;
  display: flex;
  border-radius: 1em;
  position: relative;
  left: 28em;
  top: 1.5em;
  cursor: pointer;
  margin-left: 5px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

div.length {
  width: 280px;
  margin: 20px auto;
  color: #999;
  font-size: 10px;
}

div.length label,
div.length output {
  position: absolute;
  margin-top: -5px;
}

div.length output {
  margin-left: -26px;
}

div.length input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

div.length label {
  margin-left: 15px;
}

.songTitle {
  width: 10em;
  height: 28px;
  text-align: center;
  font-size: 15px;
  background: #e74c3c;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  left: 19em;
  top: 2em;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

div.length input[type="range"] {
  width: 15em;
  margin-left: 1em;
  -webkit-appearance: none;
  background-color: #999;
  height: 2px;
  border: none;
  outline: 0;
}

.easy {
  height: 31em !important;
  width: 31em !important;
}

.medium {
  height: 39em !important;
  width: 39em !important;
}

.hard {
  height: 46em !important;
  width: 46em !important;
}

/*
   * Styles for the deck of cards
   */

.deck {
  width: 39em;
  min-height: 39em;
  background: linear-gradient(160deg, #ffde13 0%, #c9071f 100%);
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  background-image: url(../img/title.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 8rem;
  width: 8rem;
}

.deck .card.open {
  transform: rotateY(0);
  background: #c9071f;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #ffde13;
  font-size: 33px;
}

.deck .card.disabled {
  pointer-events: none;
}

/*
   * Styles for the Score Panel
   */

.score-panel {
  width: 50em;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/*-----ICONS------*/

.fa {
  font-size: 18px !important;
}

.fa-star,
.fa-repeat,
.fa-play,
.fa-pause {
  color: #ffde13;
}

.fa-step-backward,
.fa-step-forward {
  color: #c9071f;
  cursor: pointer;
}

.fa-pause,
.fa-play,
.fa-trophy {
  cursor: pointer;
}

.fa-trophy {
  color: #e7991c;
}

/*-----IMAGES------*/

.img-card {
  height: 8rem;
  width: 8rem;
  border-radius: 8px;
}

/*-----MODAL------*/

.board .modal {
  opacity: 1 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.modal {
  background-image: url(../img/kamehameha.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/*-----TABLES------*/
.leader-header {
  color: #fff;
  position: relative;
  left: 6em;
}

tr {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.header {
  background: linear-gradient(to top, #232526, #414345);
  border: 0 !important;
  border-color: none;
}

.trophy {
  font-size: 22px !important;
  color: #f45c43;
}

.table-borderless td,
.table-borderless th {
  border: 0 !important;
}

tr {
  border-bottom: 1px solid #f45c43 !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

tr:last-child {
  border-bottom: 0 !important;
}

.table-body {
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  padding: 0 !important;
}

.modal-center {
  position: relative;
  top: 5em;
}

/*-----MEDIA QUERIES------*/

@media only screen and (max-width: 980px) {
  .deck {
    height: 30em;
    width: 32em;
    min-height: 33em;
    padding: 0.8em;
  }

  .card,
  .img-card {
    height: 6.8rem;
    width: 6.8rem;
  }

  .easy {
    height: 24em !important;
    width: 26em !important;
  }

  .medium {
    height: 30em !important;
    width: 32em !important;
  }

  .hard {
    height: 36em !important;
    width: 38em !important;
  }

  .col-sm-4,
  .col,
  .deck {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .deck {
    height: 27em;
    width: 29em;
    min-height: 37em;
  }

  .card,
  .img-card {
    height: 6.2rem;
    width: 6.2rem;
  }

  .easy {
    height: 19em !important;
    width: 22em !important;
  }

  .medium {
    height: 27em !important;
    width: 29em !important;
  }

  .hard {
    height: 30em !important;
    width: 32em !important;
  }

  .choices {
    justify-content: center !important;
    margin-top: 1em;
  }

  .player {
    position: relative;
    left: 9em;
    margin-top: 1em;
  }

  .songTitle {
    left: 5em;
  }

  .seekbar {
    left: 6em;
  }
}

@media only screen and (max-width: 648px) {
  .deck {
    height: 25em;
    width: 27em;
    padding: 0.8em;
    min-height: 35em;
  }

  .card,
  .img-card {
    height: 6rem;
    width: 6rem;
  }

  .leader-header {
    left: 5em;
  }
  .easy {
    height: 17em !important;
  }

  .medium {
    height: 25em !important;
    width: 27em !important;
  }

  .hard {
    height: 29em !important;
    width: 30em !important;
  }
}

@media only screen and (max-width: 618px) {
  .deck {
    height: 22em;
    width: 25em;
    min-height: 33em;
  }

  h1 {
    font-size: 4.5em !important;
  }
  .card,
  .img-card {
    height: 5.5rem;
    width: 5.5rem;
  }

  .easy {
    height: 14em !important;
    padding: 1.2em;
  }

  .medium {
    height: 22em !important;
    width: 25em !important;
  }

  .hard {
    height: 26em !important;
    width: 28em !important;
  }
}

@media only screen and (max-width: 589px) {
  .card,
  .img-card {
    height: 5.2rem;
    width: 5.2rem;
  }

  .deck {
    height: 20em;
    width: 23em;
    padding: 0.5em;
    min-height: 33em;
  }

  .easy {
    height: 14em !important;
    padding: 1.2em;
  }

  .medium {
    height: 20em !important;
    width: 23em !important;
    padding: 0.5em;
  }

  .hard {
    height: 23em !important;
    width: 26em !important;
  }
}

@media only screen and (max-width: 528px) {
  .card,
  .img-card {
    height: 5rem;
    width: 5rem;
    padding: 0.5em;
    min-height: 31em;
  }

  .deck {
    height: 16em;
    width: 23em;
    padding: 0.5em;
  }

  .leader-header {
    left: 4em;
  }

  .easy {
    height: 14em !important;
    padding: 1.4em;
  }

  .medium {
    height: 16em !important;
    width: 23em !important;
    padding: 0.5em;
  }

  .hard {
    height: 18em !important;
    width: 22em !important;
  }
}

@media only screen and (max-width: 468px) {
  .card,
  .img-card {
    height: 4.3rem;
    width: 4.3rem;
    padding: 0.5em;
  }

  .deck {
    width: 20em;
    padding: 0.5em;
    min-height: 26em;
  }

  h1 {
    font-size: 4em !important;
  }
  
  .easy {
    height: 19em !important;
    width: 17em !important;
  }

  .medium {
    width: 20em !important;
  }

  .hard {
    height: 18em !important;
    width: 20em !important;
  }
}

@media only screen and (max-width: 412px) {
  .card,
  .img-card {
    height: 3.8rem;
    width: 3.8rem;
    padding: 0.5em;
  }

  .deck {
    width: 18em;
    padding: 0.5em;
    min-height: 23em;
  }

  .leader-header {
    left: 2em;
  }

  h1 {
    font-size: 3.3em !important;
  }
  .easy {
    height: 19em !important;
    width: 15em !important;
  }

  .medium {
    width: 18em !important;
  }

  .hard {
    height: 18em !important;
    width: 18em !important;
  }

  button {
    padding: 0.2em 0.5em;
  }
}

@media only screen and (max-width: 368px) {
  .card,
  .img-card {
    height: 3.6rem;
    width: 3.6rem;
    padding: 0.5em;
  }

  .deck {
    width: 17em;
    padding: 0.5em;
    min-height: 21em;
  }

  .leader-header {
    left: 1em;
  }

  h1 {
    font-size: 3.1em !important;
  }

  .easy {
    height: 19em !important;
    width: 13em !important;
  }

  .medium {
    width: 17em !important;
  }

  .hard {
    height: 18em !important;
    width: 17em !important;
  }
}
